
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.viewPackage{
    display: flex;
    margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
  }
.viewPContainer{
    text-align: left;
    width: 1200px;
    border-radius: 6px;
    padding-top: 20px; 
    padding-left: 8px;
    padding-right: 8px;
    margin: 12px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    flex: 7;
    
}
.viewPContainer header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.viewPContainer header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    
}
.viewPContainer form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
    height:700px;overflow-y:auto
}
.viewPContainer form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.viewPContainer form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: rgb(41, 41, 41);
}
.viewPContainer form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #272626;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.nextBtn{
    text-align: center;
    margin-top: 20px;
}
.btnText{
   
border: none;
color: white;
padding:5px 12px 5px 12px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
margin: 4px 2px;
cursor: pointer;
border-radius: 4px;
background-color :#ecc421;
padding : 14px 30px 14px 30px;
font-size: 14px;
border-radius: 4px;
}
form button:hover{
    background-color :#e4af00;
}




@media (max-width: 750px) {
    .viewPContainer form{
        overflow-y: scroll;
    }
    .viewPContainer form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

